


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    /* background-image:url("images/truck.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
body{
    background: url('images/bg-01.jpg');
}
label{
    color:black;
    align-items: center;
    
}
input{
    display: block;
    width: 100%;
    max-width: 100%;
    border: 2px solid #eaeaea;
    background: #eaeaea;
    margin-bottom: 40px;
    border-radius: 30px;
    padding: 10px;
    transition: .4s all;
    margin-top: 10px;
}

input:focus{
    border: 2px solid #5e72e4;
    background: #fff;
    transition: .4s all;
    outline: none;
}

button {
    display: block;
    width: 100px;
    border: none;
    background:blueviolet;
    color: #fff;
    padding: .5rem;
    border-radius: 30px;
    outline: none !important;
}

button:hover, button:focus{
    background:black;
}

form{
    max-width: 450px;
    width: 100%;
    margin: auto;
    border: 1px solid blueviolet;
    box-shadow: 0 3px 7px rgba(0,0,0,.4);
    border-radius: .3rem;
    padding: 1rem;
    background:white;
    /* height: 600px; */
   

}

.header{
    margin: -1rem  -1rem 1rem;
    padding: .75rem 1rem;
    background:blueviolet;
    color: #fff;
    border-radius: .3rem .3rem 0 0;
    /* width: 450px; */
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    
}
.log{
    color:white;
    font-size: 16px;
    align-items: center;
}
.header1{
    /* margin: -1rem  -1rem 1rem; */
    padding: .75rem 1rem;
    /* background:crimson; */
    color: #fff;
    border-radius: .3rem .3rem 0 0;
    width: 100%;
    margin-bottom: 141px;
    
}
